# Django
DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Europe/Moscow
LANGUAGE_CODE=ru-ru

# PostgreSQL
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

# Redis (для Celery)
REDIS_URL=redis://localhost:6379/0

# Telegram
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
# SOCKS5_PROXY=socks5://proxy-address:port

# DRF
PAGE_SIZE=5